<app-menu></app-menu>
<div class="layout">
  <div class="contenido-principal">
    <!-- Encabezado y botones -->
    <div
      id="tituloTargetas1"
      class="header-horas d-flex justify-content-between align-items-center"
    >
      <h3>Horas Extras</h3>
      <div class="d-flex gap-2">
        <button
          class="btn btn-light btn-sm agregar-btn"
          *ngIf="[1, 4].includes(usuario?.rol)"
          (click)="abrirModalReporteUsuarios()"
        >
          <i class="fas fa-chart-bar"></i> Reporte Usuarios
        </button>
        <button
          class="btn btn-light btn-sm agregar-btn"
          *ngIf="[1, 4].includes(usuario?.rol)"
          (click)="abrirModalReporteArea()"
        >
          <i class="fas fa-chart-bar"></i> Reporte Área
        </button>
      </div>
    </div>
    <div *ngIf="[1, 4].includes(usuario?.rol); else sinPermiso">
      <div id="tituloTargetasfiltro1" class="mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar por nombre o documento..."
          style="
            background-color: #1d2233;
            color: white;
            border: 1px solid #7a86a1;
          "
          [(ngModel)]="filtroNombre"
          (input)="currentPage = 1"
        />
      </div>
    </div>

    <!-- Tabla para pantallas grandes -->
    <div class="table-responsive d-none d-md-block">
      <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
          <tr>
            <th>Nombre</th>
            <th>Documento</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Fecha</th>
            <th>Tipo hora</th>
            <th>Cantidad</th>
            <th>Área</th>
            <th>Rol</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let i of horasextrasFiltradas
                | paginate
                  : { itemsPerPage: itemsPerPage, currentPage: currentPage }
            "
          >
            <td>
              {{ i.contrato?.hoja_de_vida?.usuario?.primerNombre }}
              {{ i.contrato?.hoja_de_vida?.usuario?.primerApellido }}
            </td>
            <td>{{ i.contrato?.hoja_de_vida?.usuario?.numDocumento }}</td>
            <td>{{ i.contrato?.hoja_de_vida?.usuario?.email }}</td>
            <td>{{ i.contrato?.hoja_de_vida?.usuario?.telefono }}</td>
            <td>{{ i.fecha }}</td>
            <td>{{ i.tipo_hora_extra?.nombreTipoHoras }}</td>
            <td>{{ i.nHorasExtra }}</td>
            <td>{{ i.contrato?.area?.nombreArea }}</td>
            <td>{{ i.contrato?.hoja_de_vida?.usuario?.user?.rol?.nombreRol }}</td>
            
            <td>
              <button
                class="btn btn-danger btn-sm"
                (click)="
                  confirmarEliminacion(
                    i.idHorasExtra,
                    i.contrato?.hoja_de_vida?.usuario?.user?.name ??
                      'Nombre desconocido'
                  )
                "
              >
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Paginador tabla -->
      <pagination-controls
        (pageChange)="currentPage = $event"
        [autoHide]="true"
        previousLabel="Anterior"
        nextLabel="Siguiente"
        class="d-flex justify-content-center mt-3 custom-paginator"
      ></pagination-controls>
    </div>

    <!-- Tarjetas para pantallas pequeñas -->
    <div class="d-md-none">
      <div
        class="card mb-3"
        *ngFor="
          let i of horasextrasFiltradas
            | paginate
              : { itemsPerPage: itemsPerPage, currentPage: currentPage }
        "
      >
        <div class="card-body">
          <h5 class="card-title">
            {{ i.contrato?.hoja_de_vida?.usuario?.primerNombre }}
            {{ i.contrato?.hoja_de_vida?.usuario?.primerApellido }}
          </h5>
          <p class="card-text">
            <strong>Documento:</strong>
            {{ i.contrato?.hoja_de_vida?.usuario?.numDocumento }}<br />
            <strong>Correo:</strong>
            {{ i.contrato?.hoja_de_vida?.usuario?.email }}<br />
            <strong>Teléfono:</strong>
            {{ i.contrato?.hoja_de_vida?.usuario?.telefono }}<br />
            <strong>Fecha:</strong> {{ i.fecha }}<br />
            <strong>Tipo Hora:</strong> {{ i.tipo_hora_extra?.nombreTipoHoras }}<br />
            <strong>Cantidad:</strong>
            {{ i.nHorasExtra }}<br/>
            <strong>Área:</strong>
            {{ i.contrato?.area?.nombreArea }}<br/>
            <strong>Rol:</strong>
            {{ i.contrato?.hoja_de_vida?.usuario?.user?.rol?.nombreRol }}<br/>
          </p>
          <div class="card-footer d-flex justify-content-end gap-2">
            <button
              class="btn btn-outline-danger btn-sm"
              (click)="eliminarhorasextra(i.idHorasExtra)"
            >
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Paginador para tarjetas móviles -->
    <pagination-controls
      *ngIf="horasextrasFiltradas.length > itemsPerPage"
      (pageChange)="currentPage = $event"
      [autoHide]="true"
      class="d-flex justify-content-center mt-3 d-md-none"
    ></pagination-controls>

    

    <!-- Permiso denegado -->
    <ng-template #sinPermiso>
      <div class="alert alert-warning mt-4">
        No tienes permiso para ver esta información.
      </div>
    </ng-template>
  </div>
</div>
<!-- Modal Reporte por Usuario -->
<div
  class="modal fade"
  id="modalReporteUsuario"
  tabindex="-1"
  aria-labelledby="modalReporteUsuarioLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title" id="modalReporteUsuarioLabel">
          Reporte de Incapacidades por Usuario
        </h5>
        <button
          type="button"
          class="btn-close bg-white"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">
        <canvas id="graficoUsuario" height="100"></canvas>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-outline-danger"
          (click)="descargarPDFPorUsuario()"
        >
          <i class="bi bi-file-earmark-pdf"></i> PDF
        </button>
        <button
          class="btn btn-outline-success"
          (click)="descargarExcelPorUsuario()"
        >
          <i class="bi bi-file-earmark-excel"></i> Excel
        </button>
        <button class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Reporte por Area-->
<div
  class="modal fade"
  id="modalReporteArea"
  tabindex="-1"
  aria-labelledby="modalReporteAreaLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title" id="modalReporteUsuarioLabel">
          Reporte de Incapacidades por Area
        </h5>
        <button
          type="button"
          class="btn-close bg-white"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">
        <canvas id="graficoArea" height="100"></canvas>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-danger" (click)="descargarPDFPorArea()">
          <i class="bi bi-file-earmark-pdf"></i> PDF
        </button>
        <button
          class="btn btn-outline-success"
          (click)="descargarExcelPorArea()"
        >
          <i class="bi bi-file-earmark-excel"></i> Excel
        </button>
        <button class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal para ver archivo PDF o imagen -->
<div
  class="modal fade"
  id="modalVerArchivo"
  tabindex="-1"
  aria-labelledby="modalVerArchivoLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title" id="modalVerArchivoLabel">Vista del Archivo</h5>
        <button
          type="button"
          class="btn-close bg-white"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body p-0">
        <ng-container *ngIf="archivoActual">
          <!-- Mostrar PDF -->
          <iframe
            *ngIf="esPDF(archivoActual)"
            [src]="archivoActual | safeUrl"
            width="100%"
            height="600px"
            style="border: none"
          ></iframe>

          <!-- Mostrar imagen -->
          <img
            *ngIf="!esPDF(archivoActual)"
            [src]="archivoActual"
            alt="Vista del archivo"
            class="img-fluid w-100"
          />
        </ng-container>
      </div>
    </div>
  </div>
</div>
